body {
  background-image: url("bg.png");
  width: 980px;
  margin: 0 auto 0 auto;

  color: rgb(56, 54, 23);
  font-size: 1.5em;
  font-family: sans-serif;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.content {
  background-color: #FFFFFF;
  color: #595A61;
  box-shadow: 0 0 40px rgba(0,0,0,0.6);
}

div.page-title, div.level-loaders {
  margin-left: 10px;
  margin-bottom: 10px;
}

div#target, div#game, div#editor-controllers {
  border-color: white;
}

div#editor {
  margin-top: 1.5em;
  font-size: 0.7em;
}

div#editor-controllers {
  margin-top: 0.5em;
  padding: 0.4em;
  font-size: 24px;
}

div#editor-controllers a {
  text-decoration: none;
  background-color: #1C2130;
  color: white;
  padding: 2px 6px 2px 6px;
}

div#editor-controllers a:href {

}

div#game {
}
